*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
    background-color: #1d1e28;
}

.main-div {
    background-image: url(images/bg-stars.svg);
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 68.8vh;
}

.icons-div {
    background-image: url(images/pattern-hills.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}